<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ข้อสอบ NETSAT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0fb7422e9d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

        * {
            margin: 0;
            padding: 0;
            font-family: kanit;


        }

        body {
            background-color: #E5E5E5;
        }

        ul {
            list-style-type: none;
        }

        h4 {
            position: absolute;
            left: 16rem;
            top: 8rem;
        }

        .table {
            width: 67%;
            color: #292125;
            position: absolute;
            top: 180px;
            left: 312px;
        }

        table {
            background-color: white;
        }

        td a {
            color: #FA2A55;
        }

        @media screen and (min-width:1080px) {


            .content1 {
                margin-top: -25px;
            }

            h4 {
                position: absolute;
                left: 20rem;
                top: 8rem;
            }

            .table {
                width: 67%;
                color: #292125;
                position: absolute;
                top: 180px;
                left: 401px;
            }

            .add {
                border: #FA2A55;
                background-color: #FA2A55;
                padding: 5px 20px;
                position: absolute;
                left: 1564px;
                top: 122px;
                color: white;
                border-radius: 12px;
            }
        }
    </style>

</head>

<body>

    <%- include navindex.ejs %>


        <div class="content">
            <div class="content1">
                <ul class="breadcrumb">
                    <li><a href="/">หน้าแรก</a></li>
                    <li style="color: #0275d8 ;">คลังข้อสอบ</li>
                    <li>NETSAT</li>

                </ul>


                <!-- Start Search box -->
                <div class="search-text">
                    <div class="container">
                        <div class="row text-center">

                            <div class="form">

                                <form id="search-form" class="form-search form-horizontal">
                                    <input type="text" class="input-search" placeholder="ค้นหาข้อสอบ">
                                    <button type="submit" class="btn-search">ค้นหา</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End Search Box  -->

                <!-- ข้อสอบ  -->
                <h4>NETSAT</h4>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ชื่อข้อสอบ</th>
                            <th class="th">ชุดที่</th>
                            <th class="th">ปี</th>
                            <th class="th"><object data="img/file-arrow-down-solid.svg" type="image/png" width="15"
                                    style=" margin-left:15px"></object></th>

                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i=0; i < calldata.length; i++){ %>
                            <tr>
                                <td>
                                    <%= i+1 %>
                                </td>
                                <td>
                                    <%=calldata[i].name %>
                                </td>
                                <td>
                                    <%=calldata[i].number %>
                                </td>
                                <td>
                                    <%=calldata[i].year %>
                                </td>
                                <td><a href="<%= calldata[i].file %>" target="_blank">ดาวน์โหลด</a></td>
                            </tr>
                            <% } %>

                    </tbody>

                </table>
                <br>

            </div>


























            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous">
                </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
                crossorigin="anonymous">
                </script>

            <!-- Part Java Script -->
            <script>




                /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
                var dropdown = document.getElementsByClassName("dropdown-btn");
                var i;

                for (i = 0; i < dropdown.length; i++) {
                    dropdown[i].addEventListener("click", function () {
                        this.classList.toggle("active");
                        var dropdownContent = this.nextElementSibling;
                        if (dropdownContent.style.display === "block") {
                            dropdownContent.style.display = "none";
                        } else {
                            dropdownContent.style.display = "block";
                        }
                    });
                }

                // Add active class to the current button (highlight it)
                var header = document.getElementById("nav");
                var btns = header.getElementsByClassName("btn");
                for (var i = 0; i < btns.length; i++) {
                    btns[i].addEventListener("click", function () {
                        var current = document.getElementsByClassName("active");
                        current[0].className = current[0].className.replace(" active", "");
                        this.className += " active";
                    });
                }
            </script>
</body>

</html>